@{
    ViewData["Title"] = "Charts";
    Layout = "_LayoutAdmin";
}

<div class="row">
    <div class="col-sm">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Gender</h6>
            </div>
            <div class="card-body">
                <div id="chartGender"></div>
            </div>
        </div>
    </div>
    <div class="col-sm">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Degree</h6>
            </div>
            <div class="card-body">
                <div id="chartGenderDonut"></div>
            </div>
        </div>
    </div>
</div>

